.section {
    &__container {
        padding: 80px 40px 100px;
        display: flex;
        justify-content: center;
    }

    &__title {
        @include font ('Georgia', 2.2rem);
        color: $color-dark-l;
        width: 25rem;
        margin-bottom: 3.75rem;
        text-align: center;
    }

    &__text {
        @include font ('Arial', 0.9rem);
        color: $color-dark-xl;
    }
}
